*.pyc
*.db
*~

html/
htmlcov/
coverage/
.coverage
.tox
nosetests.xml
build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/

*.log
pip-log.txt

.DS_Store

env
venv
site

static/js/main.*
static/css/main.*