
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>
    Mordecai Marches to Manchuria
  </title>
  <meta name="description" content="TimeMapper - Make Timelines and TimeMaps fast! - from the Open Knowledge Foundation Labs" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- offline use -->
  <!--
  <link href="/vendor/bootstrap/2.2.2/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/2.2.2/bootstrap-responsive.css" rel="stylesheet">
  -->
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
  <style>
   .body-text p {
     color: #333;
     text-align: justify;
   }

   img {
     width: 100%;
   }
  </style>

  

  <!-- Custom CSS for the TimeMapper Online App -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="home homepage">
<div class="mini-nav">
  <nav id="nav">
  <ul>
    <li class="current"><a href="/" target="_self">Home</a></li>
    <li><a href="/about/" target="_self">About</a></li>
    <li><a href="/map/">The Map</a></li>
  </ul>
</nav>

</div>

<div id="page-wrapper">
<!-- Header -->
<div id="header-wrapper" class="wrapper">
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li class="current"><a href="/" target="_self">Home</a></li>
        <li><a href="/about/" target="_self">About</a></li>
        <li><a href="/map/">The Map</a></li>
      </ul>
    </nav>

  </div>
</div>

<div class="wrapper style3">
  <section id="intro">
    <p class="style1">About Mordechi</p>
  </section>

  <section id="intro" class="body-text container">
    <h1>Mordechi's Diary:</h1>

    <p>This diary was written by Mordechi Yacobovitch, who served as an unwilling soldier in the Russian army from 1898 to1902. Mordechi was born August 16, 1877 in Warsaw, Poland and died May 20, 1922 in Detroit. Michigan. The diary covers the last half of his enlistment in three sections.</p>  

    <p>The first two cover his experiences going to and returning from Manchuria as part of the Russian invasion force in 1900.  His journey with the the 9th Riflemen's Brigade of the Czar's army from Zhmerynka (now part of central Ukraine) through Russia, Siberia and Manchuria and back again took 10 months.</p>  

    <p>The last covers his final time in the Czar’s Army, including an extended “demonstration of military preparedness” before he was finally able to head home to Warsaw as a retired soldier.</p>

    <p>The original diary was found in an attic in 1986 by his grandson, Marc Jacobs. It was written in archaic dialects of a mixture of Polish. Yiddish and Russian.</p> 

    <p>The diary scans are provided here under a CC-BY-SA 4.0 license.  In the future we will provide a download link for a folder of the entire scan set.</p>

    <h2>The Translations:</h2>

    <p>It took the author’s grandchildren three years to find anyone who knew the old dialects. On a bus tour of New Zealand, Mordechi’s granddaughter,  Rosie (Jacobs) Blum, told the story of the diary to a couple from Massachusetts. They knew Cantor Boris Griesdorf, of Lexington, Massachusetts (who was born in Vilnius, Lithuania) whom they said would understand these dialects. Rosie contacted the man Cantor Griesdorf and he began the translation of the diary in 1989. When he became ill and could not complete the work, the translation of the second half was accomplished by his cousin, Abe Klok of Southfield, Michigan, in 1992. Rosie Blum holds the copyright to the full translation. She has granted us, and users of this site, a CC BY-NC-SA 4.0 license to the translation text as it appears here.</p>

    <p>The original translators weren't charged with matching the translated text to the pages where they came from, so to create this website Professor Stephen Jacobs (Mordechi's great-grandson) worked with Nick Block to match handwritten Yiddish pages to typed English text.</p>  

    <h2>The Website:</h2>

    <p>Moving media from one form to another requires soemadaptation.  None of the core of Mordechi's writing has been changed, but the translations of some of his longer sections have been broken up over multiple sections to better match them to the scans of the handwritten pages.  The title headings for each section are Professor Jacobs’. Some are just the names of the locations Mordechi was in, others are summative descriptions of the content and some have been pulled from the text of the entry itself.  This has been done to help with readability of the site overall.  Throughout the site we have used his place names, spellings and terminology, adding notes, more current spellings and/or names of the places Mordechi traveled to.</p>

    <h1>People:</h1>

    <p>Website:</p>
    <p><a href="https://twitter.com/__nolski__">Michael Nolan</a>: Created a content management system to help with the creation of the site and has been the webmaster for it.</p>
    <p>Alexander Glebov: Helped with the Russian research for the site.</p>
    <p>Noah Jacobs (Mordechi's great-great-grandson) helped with some of the translation preparation.</p>


    <p><a href="https://scholar.harvard.edu/koneill/home ">Professor Kelly O'Neill</a> and her <a href="http://dighist.fas.harvard.edu/projects/imperiia/">Imperiia project</a></p>
    <p><a href="https://www.sju.edu/about-sju/faculty-staff/faculty-experts/james-carter-phd">Professor James Carter</a></p>
    <p><a href="http://bencanaanblogspotcom.blogspot.com/">Professor Dan Ben-Canaan</a> and his <a href="http://www.sino-judaic.org/index.php?page=harbin_history">Sino-Israel Research and Study Center SIRSC at the Harbin Jewish Culture Association</a></p>

    <h2>Accuracy:</h2>

    <p>We have tried to be as accurate as possible in the representation of Mordechi's story here.  Researching it is an on-going process and if you'd like to help, drop Professor Jacobs a line at sj at mail dot rit dot edu.</p>

    <p>Mordechi was a young, inexperienced soldier, not a professional documentarian. Locations and train stations in Russia and Northeast China (Manchuria) have changed and/or disappeared over time.  Location on rivers and sailing across seas have to be projected from the text, as do some locations on land. We've noted these “guestimations” in the “notes” of the entries on the web site.</p>

    <p>Our academic experts and Professor Jacobs are finding the identification of some of the places Mordechi went in Manchuria difficult to identify due to challenges in translation. Professor Ben-Canaan put it best in an email.</p>

    <p>“One of the problems with name of places or of people is that these are being interpreted by writers and users according to their language.</p>

    <p>In China we face a very difficult problem with these. (1) The Chinese change the original foreign names to the way they pronounce them. Example: The name Shakespeare is pronounces Sheshepyia in Chinese (莎士比亚), therefore there is no relation between the original in the English language to that in the Chinese.</p>

    <p>The same goes with the translation of Chinese names and places to a foreign language. Many names lose their original sound and spelling.</p>

    <p>In the case of Harbin, the Russians use Charbin and Kharbin. The Chinese may use Haerbin (because the name is made out of 3 characters: Ha-er-bin) or Harbin in a simple way.</p>

    <p>What your great-grandfather did was to translate the Chinese names, as he understood or heard them in his Russian, and then give it a Yiddish sound translation</p>

    <p>One other issue that makes it difficult with names and places has to do with time. In those days they spoke old traditional Chinese, which just few people can understand today.”</p>

  </section>

</div>

<div class="footer">
  
    <div class="container">
      <a href="https://github.com/okfn/timeliner">Source Code</a>
      &ndash;
    </div>
  
</div>

<script type="text/javascript" src="/static/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript" src="/static/vendor/recline/vendor/underscore/1.4.4/underscore.js"></script>
<script src="http://assets.okfn.org/themes/okfn/collapse.min.js" type="text/javascript"></script>
<script src="http://assets.okfn.org/themes/okfn/okf-panel.js" type="text/javascript"></script>

<script type="text/javascript">
  // define global TM object and set some config
  var TM = TM || {};
  TM.locals = {
    currentUser: ""
  };
</script>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
